version 5.206.0
source https://www.nuget.org/api/v2

storage:none

group netcorebuild
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    clitool dotnet-fake
    nuget NETStandard.Library.NETFramework
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.Core.String
    nuget Fake.Tools.Git
    nuget Fake.Api.GitHub
